body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Açık mavi arka plan rengi */
}

nav {
  background: #0056b3; /* Mavi arka plan rengi */
  color: white;
  padding: 10px;
  position: relative;
  z-index: 1; /* Navbar'ı sayfa içeriğinin üzerine getir */
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container .logo {
  display: flex;
  align-items: center;
}

.nav-container .logo img {
  height: 40px; /* Logonun boyutunu ayarlayın */
  margin-right: 10px; /* Logodan metne boşluk ekleyin */
}

.logo-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Yazıları ortala */
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  border-radius: 4px; /* Buton şekline getirmek için köşeleri yuvarlayın */
  display: inline-block; /* Butonun satırı kapatmaması için */
}

.nav-links li a:hover {
  background-color: #003d80; /* Daha koyu mavi arka plan rengi */
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.container {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 0; /* Sayfa içeriğini hamburger menünün altına yerleştir */
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .mobile-nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Navbar yüksekliğine göre ayarlayın */
    width: 100%;
    background-color: #0056b3;
    justify-content: center; /* Yazıları ortala */
    z-index: 2; /* Mobil menüyü diğer öğelerin üzerine getir */
  }

  .mobile-nav-links li {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .mobile-nav-links li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    transition: background-color 0.3s ease;
    border-radius: 4px; /* Buton şekline getirmek için köşeleri yuvarlayın */
    padding: 8px 16px;
  }

  .mobile-nav-links li a:hover {
    background-color: #003d80; /* Daha koyu mavi arka plan rengi */
  }
}

footer {
  background-color: #0056b3;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content .footer-left,
.footer-content .footer-right {
  flex: 1;
}

.footer-content .footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: center;
}

.footer-content a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-content a:hover {
  text-decoration: underline;
}

.instagram-logo {
  width: 30px; /* Instagram logosu boyutunu ayarlayın */
  margin-right: 5px; /* Logo ile metin arasına boşluk ekleyin */
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px; /* Add padding to create space around photos */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%; /* Adjust to 100% width for responsiveness */
  justify-content: center;
}

.gallery-item {
  width: calc(20% - 20px); /* 5 photos per row */
  margin: 10px;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 10px;
  width: 90%; /* Adjust modal width for smaller screens */
  max-width: 600px; /* Set a maximum width for larger screens */
  max-height: 90%; /* Adjust max-height for smaller screens */
  overflow: auto;
  position: relative;
  text-align: center;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.modal-content {
  margin-top: 10px;
}

.modal-img {
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(33.33% - 20px); /* 3 photos per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: calc(50% - 20px); /* 2 photos per row on even smaller screens */
  }

  .modal {
    width: 90%; /* Adjust modal width for very small screens */
    max-width: none; /* Remove max-width on modal for very small screens */
  }
}

